
<p>
    <mat-toolbar color="warn">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Just a toolbar</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            (click)="toggleAddModal()">
      <span style="margin-left:20px; font-size: 25px;" >Add user</span>
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  </p>
